<% include ../layout/header %>
<div class='container'>
    
    <div class='row'>
        <div class='container col-lg-8'>
            <h1><%= place.name %></h1>
            <h3><%= place.city %> - <%= place.country %></h3>
    
            <img class='img-rounded img-responsive' src='<%= place.image %>' />
            <br>
            <div class='description'>
                <em>Subimted by: </em><strong><%= place.author.username %></strong><br><br>
                
                <% if(currentUser && place.author.id.equals(currentUser._id)){ %>
                    
                    <a href='/placecamp/<%= place._id %>/edit'>
                        <button class='btn btn-warning btn-sm'>Edit</button>
                    </a>
                    
                    <form class='delete' action='/placecamp/<%= place._id %>?_method=DELETE' method='POST'>
                        <button class='btn btn-danger btn-sm'>Delete</button>
                    </form>
                    
                     <br><br>
                 <% } %>
               
                <p><%= place.description %></p><br>
            </div>
                         
            <div class="well ">
                <div class='right'>
                    <a class='btn btn-success' href='/placecamp/<%= place._id %>/comments/new'>
                        Add New Comment
                    </a>
                </div>
                
                <h3 class="header"><i class="fa fa-star-o fa-lg" aria-hidden="true"></i></i>Review This Place</h3><hr>
                
                <% place.comment.forEach(function(comment){ %>
                        
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <div class='right'>
                                 <form class='delete' action='/placecamp/<%= place._id%>/comments/<%= comment._id %>?_method=DELETE' method='POST'>
                                    <button class='btn btn-xs btn-danger'>Delete</button>
                                </form>
                                
                                <a href='/placecamp/<%= place._id %>/comments/<%= comment._id %>/edit'>
                                    <button class='btn btn-xs btn-warning'> Edit</button>
                                </a>
                                </div>
                               
                                    
                                    
                            <%  } %>
                                
                            
                                <p class="card-title"><i class="fa fa-user " aria-hidden="true"></i><strong><%= comment.author.username %></strong>  -  <%= comment.content %></p>
                            
                            
                            <hr>
                            
                            
                                
                        
                        
                <% }) %>
                
            </div>    
        </div>
        
        <div class='container col-lg-4'>
            <div id="map"></div>
            <br>
            <h4>Partenaire</h4>
        </div>
    </div>
</div>
    <!--Google Map Integration-->
    <script>
      function initMap() {
        var lat = <%= place.lat %>;
        var lng = <%= place.lng %>;
        var center = {lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        var contentString = `
          <strong><%= place.name %><br />
          <%= place.location %></strong>
          <p><%= place.description %></p>
        `
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnjZpHZ5SSyQH_l6IADozl-flU-VhtawU&callback=initMap"></script>
    
<% include ../layout/footer %>




